@import url('../../../src/styles/variables.css');

.shop__grid-container {
    display: grid;
}

.shop__box {
    background-color: var(--black);
    color: var(--orange);
    padding: 2rem;
    border-radius: 6px;
    margin-top: 1rem;
}
 
.shop__box--0margin {
    margin: 0;
}

.shop__box__title {
    font-size: 1.125rem;
}

.shop__box__desciption {
    margin-bottom: 2.5rem;
    font-size: 0.75rem;
    font-family: monospace;
}