@import url('../../variables.css');


header {
    display: flex;
    position:fixed;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--purple);
    color: var(--orange);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    box-sizing: border-box;
}

.header__left {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.header__left__logo {
    fill: orange;
    width: 100px;
    min-height: 100px;
}

.header__left__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    align-self: center;
}

.header__right {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.header__right__link {
    text-decoration: none;
    color: var(--orange);
    text-transform: uppercase;
}

.header__button__container {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-inline-end: 1rem;
}

.btn {
    border: solid var(--orange) 1px;
    background-color: var(--purple);
    color: var(--orange);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
}
