@import url('../../../src/styles/variables.css');


header {
    display: flex;
    flex-direction: row;
    position:fixed;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--purple);
    color: var(--orange);
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0;
    box-sizing: border-box;
    margin-top: 2rem;
    border-radius: 6px;
}

.header__left {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.header__left__logo {
    fill: orange;
    width: 50px;
    min-height: 50px;
}

.header__left__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    align-self: center;
}

.header__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
}

.header__right__link {
    text-decoration: none;
    color: var(--orange);
    text-transform: uppercase;
    transition: all 5s ease-in;
}

.header__right__link:hover {
    text-decoration: underline;
    transform: translateY(5px);
}


.header__button__container {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-inline-end: 1rem;
}

.btn {
    border: solid var(--orange) 1px;
    background-color: var(--purple);
    color: var(--orange);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    transition: all 0.5s;
}

.btn:hover {
    transform: translateY(-10px);
    background-color: var(--orange);
    color: var(--purple);
}

/* 2xl */
/* @media (max-width: 1536px){} */

/* xl */
/* @media (max-width: 1280px){} */

/* lg */
/* @media (max-width: 1024px){} */

/* md */
/* @media (max-width: 768px){} */

/* sm */
/* @media (max-width: 648px){} */

/* sm */
/* @media (max-width: 475px){} */