@import url('../../../src/styles/variables.css');

.hero {
    border: 5px solid red;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
     url(../../../public/city.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__title {
    color: var(--orange);
    text-transform: uppercase;
}

.hero__description {
    color: var(--orange);  
    max-width: 65ch;
}

/* 2xl */
/* @media (max-width: 1536px){} */

/* xl */
/* @media (max-width: 1280px){} */

/* lg */
/* @media (max-width: 1024px){} */

/* md */
/* @media (max-width: 768px){} */

/* sm */
/* @media (max-width: 648px){} */

/* sm */
/* @media (max-width: 475px){} */

